@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

tbody > tr > td{
	font-size: 0.8em !important;
	font-weight: bold !important;
	text-transform: uppercase;
}

.btn-padding{
	padding-top: 5px;
	padding-bottom:5px;
	padding-right: 5px;
	padding-left: 5px;
}

.alert-success{
	font-weight: bold;
}

textarea{
	border-radius: 5px !important;
}

.form-control{
	font-weight:bold !important;
}

body{
	background-color: #fff;
}

.nav-tabs > .nav-item > .nav-link{
	color: #fff !important;
}

.modal-body {
	color: #fff !important;
}

*{
	font-family: 'Quicksand',  'Arial';
}

label, a, li{
	color: #fff !important;
}

label{
    font-weight: 500 !important;
    color: #fff !important;
}

.page-item > .page-link{
	color: #000 !important;
}

.client-link > a{
	color: #222 !important;
	text-decoration: underline;
}

.not-i{
	color: #c0392b !important;
	font-weight: bold;
	font-size: 0.8em;
}


.container{
	margin-top: 100px;
}

.status{
	background-color: green;
	width: 10px;
	height: 10px;
	float: left;
	border-radius: 100px;
	margin-top: 7px;
	margin-right: 5px;
}

.liberado{
	background-color: #00c853;
}

.restringido{
	background-color: #ffa726;
}

.bloqueado{
	background-color: #e53935;
}

.field-value-table{
	font-weight: bold;
	font-size: 0.8em !important;
}

.btn-del,
.btn-edit{
	padding: 3px;
	margin: 0;
	font-size: 1.1em;
	border-radius: 5px;
}

/*------------ web sys --------------*/

#navbar{
	height: 64px !important;
	background-color: rgb(50,50,50) !important;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: -1px;
}

.nav-link{
	color: #fff !important;
	font-size: 0.9em !important;
	font-weight: bold !important;
}

#logotipo-menu{
	width: 150px;
	margin-top: -5px;
}

.user_photo{
	width: 40px;
	height: 40px;
	border-radius: 100px;
	border: 2px solid #00acc1;
	cursor: pointer;
	position: relative;
}

.user_photo:hover{
	border: 2px solid rgb(23, 23, 23);
	transition: 0.5s all;
}

.dropdown-menu-sys{
	background-color: rgb(240, 240, 240);
	margin: 0;
	padding:0;
	position: absolute;
	right: 0;
	top: 40px;
	width: 200px;
	height: auto;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
	display: none;
}

.dropdown-item-sys{
	width: 100%;
	float: left;
	font-size: 0.8em;
	margin-bottom: 10px;
	color: #000 !important; 
}

.dropdown-divider-sys{
	border-top: 1px solid rgb(60, 60, 60);
	width: 100%;
	float: left;
	margin-top: 10px;
	padding-bottom: 5px;
}

/*LOGIN*/
.login-box{
	background-color: rgb(50,50,50);
	padding: 30px;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 100px;
}

#logotipo-login{
	width: 240px;
	display: table;
	margin: 10px auto 30px;
}

.dropdown-menu{
	background-color: #fff !important;
	color: #fff !important;
}

.dropdown-item{
	color: #000 !important;
	font-size: 0.9em;
	font-weight: 500 !important;
}

.dropdown-item:hover{
	color: #000 !important;
	border-radius: 0px !important;
	background-color: #eee !important;
}

.footer-websys{
	background-color: #fff;
	height: 30px;
}

.contas-receber, .contas-pagar{
	background-color: #fff;
	border-radius: 5px;
}

.title-default{
	font-size: 1.1em;
	font-weight: 600;
	color: #000;
}

.p-default{
	font-size: 0.9em;
	font-weight: 500;
	color: #222;
}

.total-receber{
	color: #27ae60;
}

/*menu geral*/

.chart-home-panel{
	margin-bottom: 30px !important;
}

/*clients*/
.box-search{
	margin-bottom: 30px !important;
	background-color: #fff;
	border-radius: 10px;
}

.box-search h6{
	font-size: 1em;
	margin-bottom: 20px !important;
	border-bottom:2px solid #777;
	font-weight: bold;
	padding-bottom: 7px;
	color: #777;
	margin-top: 20px;
}

.lista-clients{
	border-radius: 10px;
}

/*pagination*/

.pagination{
	float: right;
}

.pagination > li{
	width: 30px;height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9em;
	font-weight: 600;
	cursor: pointer;
	margin-left: 10px;
	border-radius: 5px;
}

/*client*/

#photoProfileClient{
	border-radius: 100px;
}

.formAddCliente  label{
	font-weight: 200;
	font-size: 0.9em;
	color: #fff !important;
}

.add-new-user{
	background: rgb(50,50,50);
	border-radius:  10px;
    padding: 20px !important;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.3);
    margin-bottom: 40px;
}

.add-new-user > h4{
	font-size: 1em;
	margin-bottom: 30px !important;
	color: #fff;
}

.add-new-user h6{
	font-size: 1em;
	margin-bottom: 40px !important;
	border-bottom:2px solid #777;
	font-weight: bold;
	padding-bottom: 7px;
	color: #fff;
	margin-top: 30px;
}

.header-client .col-md-2{
	margin-right: 20px;
}

.informations-client {
	padding: 0px !important;
}

.informations-client h4{
	font-size: 1.5em;
	color: #fff;
	margin-bottom: 10px;
	font-weight: bold;
}

.info-client{
	border-radius: 10px;
}

.actions-client{
	margin-bottom: 30px;
}

.actions-client button, a{
	margin-right: 10px;
	border-radius: 5px !important;
}

.informations-register{
	margin-top: 30px !important;
	background-color: #fff;
	border-radius: 10px;
}

.informations-register h4{
	font-size: 1.1em;
}

.card-client{
	border: 1px solid #ccc;
	border-radius: 5px;
	height:50px;
	margin-right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #777;
	cursor: pointer;
}

.card-client:hover{
	border: 1px solid #201E29;
	color: #fff;
	background-color: #201E29;
	transition: 0.3s;
}

.boxs-clients-show{
	margin-bottom: 20px;
}

.photo-client img{
	margin-bottom: 20px;
}

.editar-perfil{
	display: flex !important;
	justify-content: center !important;
	margin-bottom: 30px !important;
}

/* opt texto valor*/
.valueBrl{
	font-size: 1.2em;
	font-weight: 400;
	color: #777;
}

.box-resu{
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
}

.box-resu > .valueBrl{
	width: 100%;
	font-size: 2em;
	color: #000;
}

.box-resu > div{
	width: 100%;
	color: #000;
}

.not-found-404 > img{
	width: 200px;
	height: auto;
	display: block;
	margin: 0 auto;
}

.not-found-404 > h5{
	text-align: center;
	color: #fff;
	font-size: 1.4em;
}

.not-found-404 > p{
	text-align: center;
	color: #fff;
	font-size: 0.9em;
}


/*MODULE PRODUTOS*/

.showdataxmlproduct{
	display: none;
}

/*form add new product*/
.dinheiro{
	border: dashed 1px #20983b;
    background: #c2f3cd;
    color: #167414;
}

#txt1 {
    border: dashed 1px #20983b;
    background: #c2f3cd;
    color: #167414;
}

#txt2 {
    border: dashed 1px #005688;
    background: #82c7ff;
    color: #ffffff;
}
#result {
    border: dashed 1px #20983b;
    background: #c2f3cd;
    color: #167414;
}
#soma2 {
    border: dashed 1px #005688;
    background: #82c7ff;
    color: #ffffff;
}
#results {
    border: dashed 1px #20983b;
    background: #c2f3cd;
    color: #167414;
}
#soma4 {
    border: dashed 1px #005688;
    background: #82c7ff;
    color: #ffffff;
}

#resultss {
    border: dashed 1px #20983b;
    background: #c2f3cd;
    color: #167414;
}

.img-upload-product{
	background-color: #fff;
	padding:20px;
	border-radius: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 0.8em;
}

.imgProductupload{
	margin-bottom: 5px;
}

.add-category{
	margin-right: 30px;
}

.code-bar{
	font-family: 'Inconsolata', 'Arial';
	word-spacing: 5px;
	font-weight: 700;
	font-size: 1.2em;
	color: #474747;
}

.list-group-item{
	color: #000 !important;
}

#idprodutoshow{
	color: #222;
}

.etiqueta-base{
	width: 6.35cm;
	height: 2.54cm;
	background-color: #fff;
	border-radius: 4px !important;
	margin-right: 10px;
	float: left;
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
}

#footer-etiqueta-base{
	position: absolute;
	bottom: 3px;
	left: 0px;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.refetibase,
.vlretibase{
	font-size: 0.8em;
	font-family: 'Arial';
}

.etiqueta-base h5{
	text-align: center;
	font-size: 0.7em !important;
	font-weight: bolder !important;
	text-transform: uppercase;
	margin-bottom: 3px;
	font-family: 'Arial';
}

.etiquetas-base-space{
	width: 100%;
	height: 800px;
	overflow-y: scroll;
}

#center-bar{
	display: flex;
	justify-content: center;
}

#codebarbar{
	width: 100%;
	text-align: center;
	font-size: 0.7em !important;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 2px;
	margin-bottom: 5px;
}


/* jl seguro */
/*home painel*/

.box-items-menu-dashboard{
	padding: 0;
}

.spanTitleBoxDefault{
	margin-bottom: 20px;
	padding: 0;
}

.spanTitleBoxDefault > h4{
	font-size: 1.1em;
	color: #fff;
	font-weight: bold;
}

.box-item-menu{
	background-color: rgb(50,50,50);
	box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	max-height: 100px;
	cursor: pointer;
	margin-bottom: 20px;
}

.box-item-menu:hover{
	background-color: rgb(40,40,40);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	border-radius: 15px;
	transition: 0.3s all;
}

.menu-box-user-icon{
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
	font-size: 2em;
	color: #fff;
}

.menu-box-user-title{
	display: flex;
	justify-content: center;
	color: #fff;
	font-weight: 500;
	font-size: 0.9em;
}

.headerTableTabs{
	font-size: 0.8em !important;
}

.tbodyFontCrCpRbs{
	font-size: 0.8em !important;
	font-weight: bold;
	color: #555;
}

/*menu movel*/
.navbar-togglerr{
	background: transparent;
	border: none;
	height: 64px;
	width: 64px;
	margin-top: -15px;
	font-size: 1.7em;
	color: #fff;
	outline: none;
	display: none;
}

.dropdrown-box-user-item{
	background-color: rgb(240, 240, 240);
	margin: 0;
	padding:10px;
	width: 100%;
	height: auto;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
	z-index: 1000;
	display: none;
}

.dropdrown-box-user-item ul{
	display: flex;
	flex-direction: column;
	margin-left: -30px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.dropdrown-box-user-item ul li a{
	color: #000 !important;
	font-weight: bold;
	font-size: 0.9em;
	text-decoration: none;
}

.dropdrown-box-user-item ul li a:hover{
	color: #777 !important;
	font-weight: bolder;
}

.form-box > label{
	font-weight: bold;
	font-size: 0.9em;
	margin-bottom: -10px;
	color: #000 !important;
}

.form-box > input, select{
	border-radius: 5px !important;
}

.periodo-style > p{
	font-weight: bold;
	font-size: 0.9em;
	text-transform: uppercase;
	color: red;
}

#loadGid{
	display: none;
}

.textTotal{
	font-size: 1em !important;
	color: #fff !important;
	font-weight: bold !important;
}
.totalPrice{
	font-size: 1em !important;
	color: #fff !important;
	font-weight: bold !important;
}