@media screen and(max-width: 576px){
	.login-box{
		background-color: transparent;
		padding: 30px;
		border-radius: 10px;
		margin-top: 30px;
		margin-bottom: 100px;
		box-shadow: none !important;
	}

	

}

@media screen and (max-width: 991px){

	#logotipo-menu{
	width: 150px;
	margin-top: -25px;
	}

	.box-items-menu-dashboard{
		margin-top: 100px;
	}

	.navbar-togglerr{
		display: block;
		outline: none !important;
	}

	.navbar-collapse{
		background-color: rgb(50,50,50) !important;
		padding: 20px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.dropdown{
		margin-bottom: 20px !important;
	}

	.dropdown-menu-sys{
		background-color: rgb(240, 240, 240);
		margin: 0;
		padding:0;
		position: relative;
		top: 0px;
		float: left;
		width: 200px;
		height: auto;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
		display: none;
	}

	.dropdown-item-sys{
		color: #000 !important;
	}

}